# Constraining the A.v. model main carbon metabolism

There are particular constraints of A.v. that are currently not present in the model such as the useage of the Entnerâ€“Doudoroff Pathway (ED) and the pentose phosphate pathway (PPP) as well as sucrose metabolism particularly fructose catabolism. 

While we have MFA results (Wu et al. 2019) to constrain the model but we would like to use that data in the future to test the model so we will try to constrain flux to the ED and PP pathways with gene knockout first.  

The main supporting texts

In [24]:
import cobra.test
import pandas
import os
from os.path import join
from cobra import Model, Reaction, Metabolite
from cobra.io import save_json_model
from cobra.io import write_sbml_model
from cobra.io import read_sbml_model

import numpy as np
import pandas as pd

model = read_sbml_model("../Data/Models/iAA1300.xml")

In [27]:
#Lets set gluose uptake to experimentally determined number 15 mmol (Wu et al) and make it diazotrophic by setting ammonia uptake to zero
model.reactions.get_by_id("EX_glc__D_e").lower_bound = -15
model.reactions.get_by_id("EX_glc__D_e").upper_bound = -15

model.reactions.get_by_id("EX_nh4_e").lower_bound = 0
model.reactions.get_by_id("EX_nh4_e").upper_bound = 0

solution = model.optimize()

#save to dataframe
df= pd.DataFrame.from_dict([solution.fluxes]).T
df.to_csv('../Data/FBA_results/model_n2_glu_15.csv')


model.summary()

In [28]:
#Lets set gluose uptake to experimentally determined number 15 mmol (Wu et al) and make it diazotrophic by setting ammonia uptake to zero
model.reactions.get_by_id("EX_glc__D_e").lower_bound = -15
model.reactions.get_by_id("EX_glc__D_e").upper_bound = -15

model.reactions.get_by_id("EX_nh4_e").lower_bound = -1000
model.reactions.get_by_id("EX_nh4_e").upper_bound = 0

solution = model.optimize()

#save to dataframe
df= pd.DataFrame.from_dict([solution.fluxes]).T
df.to_csv('../Data/FBA_results/model_nh4_glu_15.csv')


model.summary()

As we can see the growth rate is far to fast for both diazotrophic and ammonia supplemented with a experimental glucose uptake rate.

First we will look at the annotate PFK gene in A.v.:

While this gene Avin_23410 does have some homology to the E coli PFK2 enzyme it is also has high homology to 1-P fructose kinases and other genes in a simple blast search. We cannont be sure that this PFK is active in the foward direction making 1-6-fru in the EMP pathway.

In [22]:
model.reactions.EX_n2_e